/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 15, 2018, 7:11:39 PM
    Author     : DERI
*/
.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.jfx-progress-bar > .bar {
    -fx-background-color: #FF4081;
}
.jfx-progress-bar > .track {
    -fx-background-color: #E0E0E0;
}

